body
{
	background : url(fond_conception.png);
	background-size: cover;
}

a[href="accueil.html"]
{
	font-size:30px;
	margin-left: 540px;
}

a[href="conception.html"]
{
	font-size:30px;
	margin-left: 30px;
}

a[href="opensource.html"]
{
	font-size:30px;
	margin-left: 30px;
}

a[href="génération.html"]
{
	font-size:30px;
	margin-left:30px;
}

a[href="contact.html"]
{
	font-size:30px;
	margin-left: 30px;
}

a[href="copyright.html"]
{
	font-size:30px;
	margin-left: 30px;
}

button
{
	font-size: 30px;
	margin-top: 660px;
	margin-left: 150px;
}